/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* CUSTOM PROPS */
:root {
    --accent-color-green: #0a775f;
    --accent-color-green-80: rgba(10, 119, 95, 0.8);
    --accent-color-green-60: rgba(10, 119, 95, 0.6);
    --accent-color-light-brown: #c99b67;
    --accent-color-light-brown-80: rgba(201, 155, 103, 0.8);
    --accent-color-light-brown-60: rgba(201, 155, 102, 0.6);
    --light-brown: #f3d7b7;
    --light-bg: #f8f8f2;
    --text-color: #333;
    --outline-color: var(--accent-color-green);
    --black: #000;
    --white: #fff;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: var(--text-color);
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

*:focus {
    outline: 2px dashed var(--outline-color);
    outline-offset: 3px;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.button-green {
    color: var(--white);
    background-color: var(--accent-color-green);
}

.button-green:hover {
    background-color: var(--accent-color-green-80);
}

.button-green:active {
    background-color: var(--accent-color-green-60);
}

.button-brown {
    color: var(--white);
    background-color: var(--accent-color-light-brown);
}

.button-brown:hover {
    background-color: var(--accent-color-light-brown-80)
}

.button-brown:active {
    background-color: var(--accent-color-light-brown-60)
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}


/* SITE-HEADER */
.site-header-hero-wrapper {
    background-color: var(--light-brown);
    background-image: url("../images/site-header-intro-bg.jpg");
}

.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 99;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo-link {
    flex-shrink: 0;
    display: flex;
    text-decoration: none;
}

.site-logo-link:hover {
    opacity: 0.8;
}

.site-logo-link:active {
    opacity: 0.6;
}

.site-logo-img {
    width: 235px;
    height: 24px;
    object-fit: contain;
}


/* SITENAV */
.sitenav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 40px;
}

.sitenav-link {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.sitenav-medium-font .sitenav-link {
    font-size: 16px;
    line-height: normal;
}

.sitenav-link:hover {
    color: var(--accent-color-green);
}

.sitenav-link:active {
    opacity: 0.6;
}

.site-header__sitenav-toggler {
    display: none;
}


/* HERO */
.hero {
    position: relative;
    padding-top: 116px;
    padding-bottom: 249px;
}

.hero-container {
}

.hero-info-wrapper {
    width: 100%;
    max-width: 464px;
    margin-left: 100px;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 64px;
    line-height: normal;
    color: var(--black);
}

.hero-text {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
}

.hero-text:not(:last-child) {
    margin-bottom: 34px;
}

.hero-img-wrapper {
    position: absolute;
    left: calc(50%);
    top: 0;
}

.hero-badge {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.hero-img {
    display: block;
    width: 710px;
    height: auto;
    object-fit: contain;
}


/* INDEX-COLLETION */
.index-collection {
    margin-bottom: 20px;
}

.index-collection-inner {
    position: relative;
    padding: 50px 143px;
    background-color: var(--light-bg);
    background-image: url("../images/index-collection-bg.jpg");
}

.index-collection-heading {
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    line-height: normal;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
}

.leaves-badge {
    position: absolute;
}

.leaves-left-mix {
    top: 0;
    right: calc(50% + 450px);
}

.leaves-right-mix {
    top: 685px;
    left: calc(50% + 450px);
}

.leaves-left-light {
    top: 1263px;
    right: calc(50% + 550px);
}

.index-collection-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.index-collection-item {
    display: flex;
    align-items: center;
}

.index-collection-item:nth-child(even) {
    flex-direction: row-reverse;
}

.index-collection-img {
    flex-shrink: 0;
    display: block;
    width: 450px;
    height: 375px;
    object-fit: cover;
}

.index-collection-info {
    flex-grow: 1;
    padding-left: 117px;
    padding-right: 117px;
}

.index-collection-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 58px;
    line-height: normal;
    color: var(--text-color);
    text-transform: uppercase;
}
.index-collection-text {
    margin: 0;
    font-size: 22px;
    line-height: 34px;
}

.index-collection-text:not(:last-child) {
    margin-bottom: 10px;
}


/* INDEX-FEATURES */
.index-features {
    margin-bottom: 30px;
}

.index-features-inner {
    position: relative;
    padding: 50px 30px;
    background-image: url("../images/index-features-bg.jpg");
    background-size: 100% 700px;
    background-repeat: no-repeat;
}

.index-features-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 50px;
    line-height: normal;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
}

.index-features-badge {
    position: absolute;
    top: 233px;
    left: -20px;
}

.index-features-lead {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: var(--white);
}

.index-features-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: -20px; 
    list-style: none;
}

.index-features-item {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
}

.index-features-img {
    width: 433px;
    height: 500px;
    margin-bottom: 28px;
    object-fit: contain;
}

.index-features-item-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
}

.index-features-item-text {
    margin: 0;
    padding-right: 56px;
    font-size: 18px;
    line-height: 28px;
}


/* HOW-IT-WORKS */
.how-it-works-inner {
    position: relative;
    padding: 50px 30px;
    background-color: var(--accent-color-green);
    background-image: url("../images/green-bg.jpg");
    text-align: center;
}

.how-it-works-heading {
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 50px;
    line-height: normal;
    color: var(--white);
    text-transform: uppercase;
}

.how-it-works-badge {
    position: absolute;
    top: 40px;
    right: 70px;
}

.how-it-works-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: -20px;
    margin-bottom: 60px;
    list-style: none;
    text-align: left;
    counter-reset: how-it-works;
}

.how-it-works-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    counter-increment: how-it-works;
}

.how-it-works-item::before {
    z-index: 2;
    content: "";
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border: 4px solid var(--accent-color-light-brown);
    background-color: var(--light-bg);
}

.how-it-works-item:not(:last-child):after {
    position: absolute;
    top: 30px;
    left: 35px;
    width: 433px;
    height: 3px;
    background-image: url("../images/brown-dashed-stroke.svg");
    background-repeat: no-repeat;
    content: "";
}

.how-it-works-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--light-bg);
    padding: 20px 20px 40px;
}

.how-it-works-info::before {
    content: "0"counter(how-it-works);
    margin-bottom: 45px;
    font-size: 64px;
    line-height: normal;
    color: var(--text-color);
    opacity: 0.8;
    align-self: flex-end;
}

.how-it-works-item-title {
    max-width: 250px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
}

.how-it-works-text {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
}

.how-it-works-cta:focus {
    outline-color: var(--accent-color-light-brown);
}


/* SITE-FOOTER */
.site-footer {
    background-color: var(--light-brown);
    background-image: url("../images/site-header-intro-bg.jpg");
}

.site-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 60px;
}

.site-footer-socials {

}

/* SOCIALS */
.socials {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.socials-item:not(:last-child) {
    margin-right: 30px;
}

.socials-link {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.socials-link:hover {
    color: var(--accent-color-green);
}

.socials-link:active {
    color: var(--accent-color-green-60);
}

.socials-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}


/* RETINA BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .site-header-hero-wrapper {
        background-image: url("../images/site-header-intro-bg@2x.jpg");
    }
    
    .index-collection-inner {
        background-image: url("../images/index-collection-bg@2x.jpg");
    }
    
    .index-features-inner {
        background-image: url("../images/index-features-bg@2x.jpg");
    }
    
    .how-it-works-inner {
        background-image: url("../images/green-bg@2x.jpg");
    }
    
    .site-footer {
        background-image: url("../images/site-header-intro-bg@2x.jpg");
    }
}

@media only screen and (max-width: 1300px) {
    .hero {
        padding-bottom: 200px;
    }
    .hero-info-wrapper {
        margin-left: 0;
    }

    .leaves-left-mix {
        right: calc(50% + 300px);
    }

    .leaves-right-mix {
        left: calc(50% + 350px);
    }

    .leaves-left-light {
        right: calc(50% + 450px);
    }
}

@media only screen and (max-width: 1100px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 90px;
    }

    .hero-info-wrapper {
        max-width: 390px;
    }

    .hero-heading {
        font-size: 60px;
    }

    .hero-text {
        font-size: 14px;
    }

    .index-collection-inner {
        padding-left: 50px;
        padding-right: 50px;
    }

    .index-collection-list {
        position: relative;
        z-index: 9;
    }

    .index-collection-img {
        width: 330px;
    }

    .leaves-left-mix {
        right: calc(50% + 280px);
    }

    .leaves-right-mix {
        left: calc(50% + 300px);
    }

    .leaves-left-light {
        right: calc(50% + 330px);
    }
}

@media only screen and (max-width: 900px) {
    .hero {
        padding-bottom: 60px;
    }

    .hero-info-wrapper {
        max-width: 330px;
    }

    .hero-img-wrapper {
        top: 20px;
    }

    .index-collection-info {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .site-header__sitenav {
        display: none;
    }

    .site-header--active .site-header__sitenav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 25px 50px;
        background-color: var(--accent-color-light-brown);
        display: block;
    }

    .site-header__sitenav .sitenav-list {
        justify-content: flex-end;
    }
    
    .site-header__logo-link {
        margin-right: 36px;
    }
    
    .site-header__sitenav-toggler {
        width: 50px;
        height: 50px;
        position: relative;
        display: block;
        background-color: transparent;
        z-index: 3;
    }
    
    .site-header__sitenav-toggler span,
    .site-header__sitenav-toggler span::before,
    .site-header__sitenav-toggler span::after {
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%;  margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #222;
    }
    
    .site-header__sitenav-toggler span::before,
    .site-header__sitenav-toggler span::after {
        display: block;
        content: "";
        transition: 0.3s;
    }
    
    .site-header__sitenav-toggler span::before {
        transform: translateY(-5px)
    }
    .site-header__sitenav-toggler span::after {
        transform: translateY(5px)
    }

    .site-header__sitenav-toggler--active span {
        height: 0;
    }

    .site-header__sitenav-toggler--active span::before {
        transform: rotate(45deg);
    }

    .site-header__sitenav-toggler--active span::after {
        transform: rotate(-45deg);
    }

    .hero-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-info-wrapper {
        max-width: 100%;
        margin-bottom: 100px;
    }

    .hero-img-wrapper {
        position: relative;
        left: auto;
        top: 0;
    }

    .hero-badge {
        transform: translate(-40%, -50%);
    }

    .index-collection-item {
        flex-direction: column;
    }

    .index-collection-item:nth-child(even) {
        flex-direction: column;
    }

    .index-collection-item:not(:last-child) {
        margin-bottom: 64px;
    }

    .leaves-left-mix {
        right: calc(50% + 125px);
    }

    .leaves-right-mix {
        left: calc(50% + 158px);
    }

    .leaves-left-light {
        right: calc(50% + 210px);
    }
}

@media only screen and (max-width: 600px) {
    .index-collection__container {
        padding-left: 0;
        padding-right: 0;
    }

    .index-collection-inner {
        padding-left: 22px;
        padding-right: 22px;
    }

    .index-collection-info {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 500px) {
    .site-header-container {
        padding-left: 22px;
        padding-right: 22px;
    }
    
    .site-header__logo-link {
        width: 70%;
    }

    .site-header--active .site-header__sitenav {
        padding-left: 22px;
        padding-right: 22px;
    }

    .site-header__sitenav .sitenav-list {
        flex-direction: column;
        align-items: flex-end;
    }

    .sitenav-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .hero-container {
        padding-left: 22px;
        padding-right: 22px;
    }

    .hero-badge {
        transform: translate(-25%, -50%);
    }

    .leaves-right-mix {
        left: calc(50% + 90px);
    }

    .leaves-left-light {
        right: calc(50% + 73px);
    }

    .index-collection-heading {
        font-size: 40px;
    }

    .index-collection-title {
        font-size: 45px;
    }
}